{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center vote">
        <h1 class="margin-top">{{ challenge.name }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form.vote) }}/5
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

{% endblock %}
