{% extends 'base.html.twig' %}

{% block extracss %}
	<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
{% endblock %}

{% block bodyclass %}all{% endblock %}

{% block body %}
	<div class="all">
	    <h1 class="titleHome text-center"><i>WELCOME TO GGRrrrr !</i></h1>
	    <h2 class="miniTitleHome text-center"><i>The most famous and marvelous game ever seen !</i></h2>

	    <div class="container">
	    	<div class="row buttons-home">
	    		<div class="col-md-4">
				    <div class="text-center">
				    	<a href="{{ path('challengelist') }}"><button type="button" class="btn btn-primary btn-lg shake-slow shake-constant shake-constant--hover">Go to the game guy !!</button></a>
				    </div>
				</div>
				<div class="col-md-4">
				    <div class="text-center">
						<a href="{{ path('scoreList') }}"><button type="button" class="btn btn-default btn-lg">Show the scoreboard !</button></a>
					</div>
				</div>
				<div class="col-md-4">
				    <div class="text-center">
						<a href="{{ path('create') }}"><button type="button" class="btn btn-danger btn-lg">Create your own challenge ...</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}