{% extends 'base.html.twig' %}
    {% block title %}Score ...{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}

        {{ scores.0.idChallenge.name }}
        {% for score in scores %}
            <div class="row">
                <div class="col-md-12">
                    {{ score.idUser.username }}'s score : {{ score.score }} !
                    <a href="{{path('vote_new', { 'id': id })}}"><button>Voter pour ce challenge</button></a>
                </div>
            </div>
        {% endfor %}

    {% endblock %}

