{% extends 'base.html.twig' %}
    {% block title %}Score ...{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}

        <div class="container score">
            <ul class="list-group">
                {% for challenge in challenges %}
                    <a href="{{path('score', { 'id': challenge.id })}}"><li class="list-group-item">{{ challenge.name }}</li></a>
                    <a href="{{path('vote_new', { 'id': challenge.id })}}"><button>Voter pour ce challenge</button></a>
                {% endfor %}
            </ul>
        </div>

    {% endblock %}