{% extends 'base.html.twig' %}
    {% block title %}Score ...{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}
        {% for challenge in challenges %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{path('score', { 'id': challenge.id })}}">{{ challenge.name }}</a>
                    <a href="{{path('vote_new', { 'id': challenge.id })}}"><button>Voter pour ce challenge</button></a>
                </div>
            </div>
        {% endfor %}

    {% endblock %}

