
html, body { margin: 0; padding: 0; }
body { 
	
}
button { 
	border: none;
	padding: 0.5em;
}
label { 
	line-height: 1.65em; 
	border: none; 
	font-weight: 200; 
	padding-right: 1em;
}
.score{
	padding-top:80px;
}
.vote{
	margin-top: 40vh;
}
.titleChallenge {
	margin-top: 80px;
}
.noir {
	background-color: black;
}
.boxes {
	margin-top: 40px;
}
.all {
background: #00ff00 url("../img/world.jpg") no-repeat fixed center; 
}
.margin-top{
	margin-top: 70px;
}
.titleHome {
	font-family: 'Chewy', cursive;
	color:white;
	font-size: 100px;
	text-shadow: 0px 0px 9px black;
	margin-top: 0px;
	margin-top: 20vh;
}
.miniTitleHome {
	font-family: 'Chewy', cursive;
	color:white;
	margin-top: 5vh;
	text-shadow: 0px 0px 9px black;
}
.set-position {
	width:30vw!important;
}
.inputs-set {
	width:20vw;
	height:5vh;
	border: none;
	padding: 0.5em;

}
.inputs-set2 {
	width:10vw;
	height:5vh;
	border: none;
	padding: 0.5em;
}
.btn-save {
	height:5vh;
	width:2.7vw;
}
button#generate { background: #994600; color: #fff; }
button.go-to { 
	background: #2E7899;
	display: none;
	color: #fff;
	height:5vh;
}
button.set { 
	background: #33962A;
	color: #fff;
	height:5vh;
	width:3vw;
	}
#map-container { height: 100%; }
#form-container { 
	position: absolute; 
		margin: 0 auto;
		top: 5%; 
		right: 1%;
	z-index: 99; 
	width: 19em;
	padding: 1em;
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0.8); 
} 
.buttons-home {
  margin-top: 20vh; /* poussé de la moitié de hauteur de viewport */
}
.error { color: red; font-size: 0.5em; }
.error-box { padding: 1em; background: #FFD0D3; color: #570008; font-size: 0.75em; }

#content { width: 100%; height: 100%; }

#miniMap { width: 300px; height: 300px; position: absolute; top: 20px; right: 20px; z-index: 1000; box-shadow: 0px 0px 20px rgba(255,255,255, 0.9); }

#timer { font-size: 60px; line-height: 200px; text-align: center; width: 200px; height: 200px; background: rgba(238,240,17, 0.7); position: absolute; top: 390px; right: 60px; z-index: 1000; box-shadow: 0px 0px 20px rgba(255,255,255, 0.9); border-radius: 50px; }

#guessButton { font-size: 17px; font-weight: bold; color: white; width: 200px; cursor: pointer; text-align: center; position: absolute; top: 340px; right: 60px; z-index: 1000; }
#guessButton:hover { background: #FF6666; }

#pano { width: 100%; height: 100%; z-index: 999; }

#scoreBoard { position: absolute; bottom: 45px; left: 20px; width: 200px; height: 80px; padding: 10px; background: white;box-shadow: 0px 0px 20px rgba(0,0,0, 0.9);  z-index: 1000; }
#scoreBoard .round {  }
#scoreboard .totalScore {  }

/********************************
	Round specific
*********************************/

#roundEnd { position: absolute; left: 50%; width: 400px; margin: 40px 0 0 -200px; padding: 20px; background: white; text-align: center; display: none; z-index: 1005; box-shadow: 0px 0px 20px rgba(255,255,255, 0.9); }
#roundEnd #roundMap { width: 360px; height: 200px; margin: 20px 0; }
#roundEnd .closeBtn { cursor: pointer; }

#roundMap { width: 300px; height: 300px; position: relative; }

#endGame { position: absolute; top: 50%; left: 50%; width: 400px; margin: -190px 0 0 -240px; padding: 20px; background: #EFEFEF; text-align: center; display: none; z-index: 1000; }

